<header>
    <div class="header">
        <h1>Masoud Zeinalabedini</h1>
        <p id="education">Front-End Developer</p>
    </div>
</header>

<nav class="position">
    <ul class="topnav">
        <li class="show" ><a href="#education">Education</a></li>
        <li class="show" ><a href="#workExperience">Work Experience</a></li>
        <li class="show" > <a href="#Language">Languages</a></li>
        <li class="show" ><a href="#Skils">Skills</a></li>
        <li class="hide"><a>Menue</a></li>
        <li class="show" ><a href="#contact">Contact</a></li>
    </ul>
</nav>