<header>
    <div class="header">
        <h1>Masoud Zeinalabedini</h1>
        <p id="education">Front-End Developer</p>
    </div>
</header>

<nav class="position">
    <ul class="topnav">
        <li class="show" >
            <a (click)="onSelect('education')">Education</a>
        </li>
        <li class="show" >
            <a (click)="onSelect('work')">Work Experience</a>
        </li>
        <li class="show" > 
            <a (click)="onSelect('lan')">Languages</a>
        </li>
        <li class="show" >
            <a (click)="onSelect('skills')">Skills</a>
        </li>
        <li class="hide"><a>Menue</a></li>

        <li class="show dropdown" ><a>About</a>
            <div class="dropdown-content">
                <li><a>About me</a></li>
                <li><a>Contact</a></li>
                <li><a>Hobies</a></li>
            </div>
        </li>
    </ul>
</nav>