

<div class="card">
    <h3 >CONTACT</h3> <br>
    <p> <span class="fa fa-map-marker" aria-hidden="true"></span> Number 138 – Golestan street 
        Nor Blvd – Yaghchian complex  <br>
        Tabriz <br>
        East Azerbaijan province<br>
        <span class="fa fa-envelope"></span>
        &nbsp;5169654318 <br>
        Iran, Islamic Republic of <br>
        <a href="tel:+989148450108"> 
            <span class="fa fa-phone" aria-hidden="true"></span>
            Cell: +98 914 8450108</a> <br>
        <a href="tel:+984133857680">
            <span class="fa fa-mobile" aria-hidden="true"></span>
            Tel: +98 41 33857680 </a><br>
        <a href="mailto:Masoud.zeinalabedini@gmail.com">
        <span class="fa fa-envelope-o" aria-hidden="true"></span><span class="small"> Masoud.zeinalabedini@gmail.com</span></a> <br>
        <a href="https://github.com/Masoud-z" target="_blank"><span class="fa fa-github" aria-hidden="true"></span> Masoud-z</a> <br>
        <a href="https://www.linkedin.com/in/masoud-zeinalabedini-55328323a/" target="_blank"><span class="fa fa-linkedin-square" aria-hidden="true"></span> Masoud Zeinalabedini</a><br>
        <a href="https://www.instagram.com/_masood.z/" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span> _masoud.z</a>
    </p>
</div>