<div class="card">
    <h2 class="border" >WORK EXPERIENCE</h2>
    <ul class="list">
        <li><b>English Teacher</b>
        <br> Sep 2017 - May 2022. <b>[Part-Time]</b></li><br>

        <li><b>Game Developer, </b> North Wind Studio, Tabriz, Iran. <br>Jan 2019 - Oct 2020. <b>[Full-Time]</b></li><br>

        <li><b>Administrative Manager of “9:33DM” conference, </b> Tabriz, Iran. <br> Sep 2019 – Dec 2019. <b>[Part-Time]</b><br> 
            The first monthly Digital marketing conference in Tabriz. 
            (Holding 4 conferences)
            </li><br>

            <li><b>Sales Agent and Financial Consultant, </b>     Saman Insurance Company, Tabriz, Iran. <br>
            Oct 2020 - Jun 2021. <b>[Full-Time]</b></li> <br>

            <li><b>Commission Member, </b> Computer Corporation of East Azerbaijan, Tabriz, Iran. <br>
            Jan 2022 - Present. <b>[Part-Time]</b></li>
    </ul>
</div>

