<div class="card">
    <h3>HOBBIES</h3><br>
    <ul class="list">
    <li><b>Volunteering Activities:</b><br>
         Donating food to people 
        in different ceremonies. <br>
        Teaching English to 
        students who don’t have 
        adequate financial abilitie. <br>
        Holding free English talk 
        shows in Tabriz.
        </li> <br>

    <li><b>Group games</b><br>(Games 
            like Mafia)</li> <br>

    <li><b>Mountaineering</b><br> I have 
        climbed the highest 
        mountain in Iran, Mtn.Damavand, equals to 
        winning third place in a 
        national sports contest. </li> <br>
          
    <li><b>Reading</b></li> <br>

    <li><b>Watching TED Talks</b></li> <br>

    <li><b>Watching movies and TV series</b></li> <br>

    <li><b>Bicycling</b></li> <br>
</ul>
</div>