<div class="card">
    <h2 class="border" >Skills</h2>
    <ul class="list">
        <li><b>Programing Languages:</b> <br>
            &nbsp;&nbsp;&nbsp;
            JavaScript, TypeScript, C#</li><br>

            <li><b>Programing Frameworks:</b> <br>
                &nbsp;&nbsp;&nbsp;
                Angular
            </li> <br>

            <li><b>Web Technologies:</b> <br>
                &nbsp;&nbsp;&nbsp;
            HTML/CSS</li> <br>

            <li><b>Version Control Systems:</b> <br>
                &nbsp;&nbsp;&nbsp;
            Git (Gitkraken)</li> <br>

            <li><b>Typesetting and Presentation:</b><br>
                &nbsp;&nbsp;&nbsp;
                Microsoft Word, PowerPoint.</li><br>

            <li><b>Spreadsheet programs:</b> <br>
                &nbsp;&nbsp;&nbsp;
            Excel</li> <br>

            <li><b>Graphics Editors:</b> <br>
                &nbsp;&nbsp;&nbsp;
                Adobe Photoshop, Adobe Illustrator</li> <br>

            <li><b>Game Engines:</b><br>
                &nbsp;&nbsp;&nbsp;
            Unity, Buildbox</li> <br>

            <li><b>Photography</b></li>
    </ul>
</div>