<div class="card">
    <h2 class="border" >Languages</h2>
    <ul class="list">
        <li><b>English</b> <br>
            As a foreign language (TOEFL certificate holder with a 
            score of 102).</li> <br>

            <li><b>Persian</b> <br>
                As National language.</li><br>

            <li><b>Turkish</b><br>
                As mother language (Spoken in East Azerbaijan province).</li><br>

            <li><b>Arabic</b> <br>
                Has been thought in Middle and High School.
                (Basic knowledge).</li>
    </ul>
</div>